.container{
   
    padding: 15px;
    margin: auto;


}
input{
    margin: 11px auto 11px auto;
}
.formulaire{
    display: flex;
    flex-direction: column;
    width: 450px; 
       background-color: #00466fd8;
       margin: auto;
}
.produit{
    background-color: #00466fd8;
    display: flex;
    justify-content: center;
    margin: 15px;
    padding: 10px;
    width: 150px;

}
.container_produit{
    display: flex;
    flex-wrap: wrap;
     justify-content: space-evenly;
}